<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<error-page>
		<error-code>404</error-code>
		<location>/error/errorPage.jsp</location>
	</error-page>
	
	<error-page>
		<error-code>500</error-code>
		<location>/error/errorPage.jsp</location>
	</error-page>
	
	<error-page>
		<exeception-type>java.lang.RuntimeException</exeception-type>
		<location>/index.jsp</location>
	</error-page>
</web-app>











